 .u-section-1 {
  min-height: 1207px;
}

.u-section-1 .u-image-1 {
  height: 428px;
  margin: 81px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-2 {
  height: 1186px;
  margin-top: -509px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -445px 0 0 calc(((100% - 1140px) / 2) + 248px);
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  width: auto;
  margin: -212px calc(((100% - 1140px) / 2) + 213px) 0 calc(((100% - 1140px) / 2) + -14px);
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 123px calc(((100% - 1140px) / 2) + -573px) 0 calc(((100% - 1140px) / 2) + 772px);
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -212px calc(((100% - 1140px) / 2) + -258px) 0 calc(((100% - 1140px) / 2) + 457px);
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  width: auto;
  margin: -199px calc(((100% - 1140px) / 2) + 170px) 0 calc(((100% - 1140px) / 2) + 29px);
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -241px calc(((100% - 1140px) / 2) + -541px) 0 calc(((100% - 1140px) / 2) + 740px);
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -48px calc(((100% - 1140px) / 2) + -63px) 0 calc(((100% - 1140px) / 2) + 262px);
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 720px calc(((100% - 1140px) / 2) + 181px) 0 calc(((100% - 1140px) / 2) + 18px);
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 129px calc(((100% - 1140px) / 2) + -644px) 0 calc(((100% - 1140px) / 2) + 843px);
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -13px calc(((100% - 1140px) / 2) + -114px) 60px calc(((100% - 1140px) / 2) + 313px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 789px;
    margin-top: -90px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -385px;
    margin-right: calc(((100% - 1140px) / 2) + 312px);
    margin-left: calc(((100% - 1140px) / 2) + 87px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 313px);
    margin-left: calc(((100% - 1140px) / 2) + 86px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2) + 164px);
    margin-left: calc(((100% - 1140px) / 2) + 235px);
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
    margin-left: calc(((100% - 1140px) / 2) + 299px);
  }

  .u-section-1 .u-text-5 {
    margin-top: -193px;
    margin-right: calc(((100% - 1140px) / 2) + 270px);
    margin-left: calc(((100% - 1140px) / 2) + 129px);
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2) + 261px);
    margin-left: calc(((100% - 1140px) / 2) + 138px);
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2) + 156px);
    margin-left: calc(((100% - 1140px) / 2) + 243px);
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2) + 349px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2) + 79px);
    margin-left: calc(((100% - 1140px) / 2) + 320px);
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -6px;
    margin-right: calc(((100% - 1140px) / 2) + 312px);
    margin-left: calc(((100% - 1140px) / 2) + 87px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-top: -92px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -83px;
    margin-right: calc(((100% - 1140px) / 2) + 422px);
    margin-left: calc(((100% - 1140px) / 2) + 197px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 423px);
    margin-left: calc(((100% - 1140px) / 2) + 196px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 274px);
    margin-left: calc(((100% - 1140px) / 2) + 345px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-left: calc(((100% - 1140px) / 2) + 409px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + 380px);
    margin-left: calc(((100% - 1140px) / 2) + 239px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 1140px) / 2) + 371px);
    margin-left: calc(((100% - 1140px) / 2) + 248px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 1140px) / 2) + 266px);
    margin-left: calc(((100% - 1140px) / 2) + 353px);
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 459px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 1140px) / 2) + 189px);
    margin-left: calc(((100% - 1140px) / 2) + 430px);
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 1140px) / 2) + 422px);
    margin-left: calc(((100% - 1140px) / 2) + 197px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 512px);
    margin-left: calc(((100% - 1140px) / 2) + 287px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 513px);
    margin-left: calc(((100% - 1140px) / 2) + 286px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 364px);
    margin-left: calc(((100% - 1140px) / 2) + 435px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 499px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + 470px);
    margin-left: calc(((100% - 1140px) / 2) + 329px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 1140px) / 2) + 461px);
    margin-left: calc(((100% - 1140px) / 2) + 338px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 1140px) / 2) + 356px);
    margin-left: calc(((100% - 1140px) / 2) + 443px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 1140px) / 2) + 549px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 1140px) / 2) + 279px);
    margin-left: calc(((100% - 1140px) / 2) + 520px);
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 1140px) / 2) + 512px);
    margin-left: calc(((100% - 1140px) / 2) + 287px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1546px;
  }

  .u-section-1 .u-image-1 {
    width: 440px;
    margin-top: 1px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 1186px;
    margin-top: -16px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -266px;
    margin-right: calc(((100% - 340px) / 2) + 13px);
    margin-left: calc(((100% - 340px) / 2) + 186px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -432px;
    margin-right: calc(((100% - 340px) / 2) + 170px);
    margin-left: calc(((100% - 340px) / 2) + 29px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 117px;
    margin-right: calc(((100% - 340px) / 2) + 199px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-top: -72px;
    margin-right: calc(((100% - 340px) / 2) + -21px);
    margin-left: calc(((100% - 340px) / 2) + 220px);
  }

  .u-section-1 .u-text-5 {
    margin-top: -586px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 199px);
  }

  .u-section-1 .u-text-6 {
    margin-top: -153px;
    margin-right: calc(((100% - 340px) / 2) + 213px);
    margin-left: calc(((100% - 340px) / 2) + -14px);
  }

  .u-section-1 .u-text-7 {
    margin-top: -241px;
    margin-right: calc(((100% - 340px) / 2) + 81px);
    margin-left: calc(((100% - 340px) / 2) + 118px);
  }

  .u-section-1 .u-text-8 {
    width: 141px;
    margin-top: 489px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 551px;
    margin-right: calc(((100% - 340px) / 2) + 158px);
    margin-left: calc(((100% - 340px) / 2) + 17px);
  }

  .u-section-1 .u-text-10 {
    margin-top: 159px;
    margin-right: calc(((100% - 1140px) / 2) + 612px);
    margin-left: calc(((100% - 1140px) / 2) + 387px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 945px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: normal;
  margin-top: 20px;
}

.u-section-2 .u-image-1 {
  height: 609px;
  margin-top: 44px;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  width: auto;
  font-weight: normal;
  font-size: 1.125rem;
  margin: -593px 6px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: -35px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -597px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -777px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-1 {
    margin-top: 161px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: -741px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 18px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    height: 673px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-2 {
    font-weight: 700;
    font-size: 1.125rem;
    margin-top: -646px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 564px;
}

.u-section-3 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 60px auto 0 17px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: -272px 27px 108px 622px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 449px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 229px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-3 .u-video-1 {
    width: 540px;
    height: 304px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-bottom: 60px;
    margin-left: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-3 .u-video-1 {
    height: 191px;
    margin-top: 39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 41px;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 606px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 70px 20px 0 658px;
}

.u-section-4 .u-video-1 {
  width: 578px;
  height: 314px;
  margin: -308px auto 60px 29px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: -125px;
    margin-right: 0;
    margin-left: 478px;
  }

  .u-section-4 .u-video-1 {
    margin-top: 20px;
    margin-left: -26px;
    margin-bottom: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 258px;
  }

  .u-section-4 .u-video-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 176px;
    margin-left: 78px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    height: 293px;
    margin-bottom: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 208px;
    margin-left: 0;
  }

  .u-section-4 .u-video-1 {
    width: 278px;
    height: 159px;
    margin-top: -517px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 109px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 21px auto 60px 0;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 1rem;
  }
}